html {
    background: url('./assets/popcorn.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #9bb6c1;
  }

#header-search-div {
    display: grid;
    grid-template-columns: 35% 65%;
}

#search-div {
    margin-top: 100px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 7em;
    color: black;
    text-align: right;
    margin-right: 30px;
}

#prompt {
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    height: 325px;
    width: 250px;
    margin: 8px;
    background-color:  #9bb6c193;
}

#hover-text {
    display: none;
    font-size: .75em;
}

.movie-card:hover #hover-text {
    display: block;
}

.selected {
    background-color: #70838b;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
    padding: 4px;
}

.poster {
    max-height: 150px;
}

#backdrop {
    height: 200px;
}

button:hover {
    background-color: #ba7162;
}

button {
    height: 40px;
    border: 1px solid black;
    background-color: #d88373;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Bangers', cursive;
}

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#filter-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#filter-section {
    padding-top: 10px;
}

input {
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1em;
}

#movie {
    height: 35px;
    font-family: 'Bangers', cursive;
    font-size: 2em;
}

.hidden {
    display: none;
}

#paging-section {
    padding-top: 10px;
}

#detail-list-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 10px;
}

#backdrop {
    height: 150px;
}

#detail-container {
    padding: 3px;
    margin-top: 8px;
}

#paging-section button {
    width: 60px;
}

